<%- include('header.ejs') %>
    <!-- =============================================== -->
    <%- include('aside.ejs') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Thêm mới danh mục
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form action="" method="POST" role="form">
                                    <div class="form-group">
                                        <label for="">Tên Danh Mục</label>
                                        <input type="text" class="form-control" name="name" placeholder="Input name">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Mô tả Danh Mục</label>
                                        <input type="text" class="form-control" name="description" placeholder="Input des">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Trạng Thái Danh Mục</label>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="status" value="0" checked="checked">
                                                Hiển thị
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="status" value="1" checked="checked">
                                                Ẩn
                                            </label>
                                        </div>

                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>
                                        Thêm</button>
                                    <a href="/danh-muc" class="btn btn-default pull-right"><i
                                            class="fa fa-arrow-circle-o-left"></i> Quay lại</a>
                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <%- include('footer.ejs') %>